<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>


  <form (ngSubmit)="submit()" [formGroup]="loginForm">
    <ion-list>
      <ion-item lines="none">
        <ion-input formControlName="email" label="Email :" errorText="Email is required"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="password" formControlName="password" label="Password :" errorText="Password is required"></ion-input>
      </ion-item>

      <span style="color: red; margin-left: 14px;" *ngIf="loginForm.errors?.['wrongCredentials']">
        Wrong credentials
      </span>
    </ion-list>
    <ion-button type="submit" style="display: flex; align-items: center;" [disabled]="loginForm.invalid" class="submit-button">Login</ion-button>
    <ion-button style="display: flex; align-items: center;" fill="clear" (click)="toRegisterPage()">I don't have an account</ion-button>
    <ion-button style="display: flex; align-items: center;" fill="clear" (click)="resetPassword()">I forgot my password</ion-button>
    <ion-fab horizontal="center">
      <ion-fab-button (click)="loginWithGmail()">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>

  <!-- <ion-button (click)="askPerm()">snake</ion-button>
  <span>{{log}}</span> -->

  <div style="display: flex; justify-content: center;flex-direction: column;margin-top: 4em;" *ngIf="showSnake">
    <div style="display: flex; justify-content: center;">
      <ngx-snake #game></ngx-snake>
    </div>
    <div style="display: flex; justify-content: center;">
      <ion-button (click)="game.actionStart()">Start</ion-button>
      <ion-button (click)="game.actionStop()">Stop</ion-button>
      <ion-button (click)="game.actionReset()">Reset</ion-button>
    </div>
    <div style="display: flex; justify-content: center;">
      <ion-button (click)="game.actionUp()">Up</ion-button>
    </div>
    <div style="display: flex; justify-content: center;">
      <ion-button (click)="game.actionLeft()">Left</ion-button>
      <ion-button (click)="game.actionRight()">Right</ion-button>
    </div>
    <div style="display: flex; justify-content: center;">
      <ion-button (click)="game.actionDown()">Down</ion-button>
    </div>
  </div>

  <!-- <iframe width="100%" height="150" src="https://www.youtube.com/embed/jNQXAC9IVRw?si=Wzd6eGvaYsRK0jBd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
</ion-content>
