<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Post Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{post.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{post.description}}
    </ion-card-content>
    <div id="container">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button fill="solid" shape="round" color="primary" id="open-post-edit-Modal" expand="block">
            <ion-icon name="edit" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-modal trigger="open-post-edit-Modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancelModal()">Cancel</ion-button>
              </ion-buttons>
              <ion-title>Edit Post</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirmModal()" [strong]="true">Update</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <ion-input
                label="Name"
                labelPlacement="stacked"
                type="text"
                placeholder="Post name"
                [(ngModel)]="newPostName"
              ></ion-input>
              <ion-input
              label="Description"
              labelPlacement="stacked"
              type="text"
              placeholder="Post description"
              [(ngModel)]="newPostDesc"
            ></ion-input>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>  
    </div>
  </ion-card>
</ion-content>

