<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Post Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="post">
    <ion-card-header>
      <ion-card-title>{{post.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{post.description}}
    </ion-card-content>
    <div id="container">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button fill="solid" shape="round" color="primary" id="open-post-edit-Modal" expand="block" (click)="openModal()">
            <ion-icon name="edit" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </div>
  </ion-card>
</ion-content>

