<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forget Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ForgetPassword</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="submit()" [formGroup]="forgetPasswordForm">
    <ion-list>
      <ion-item class="input-item">
        <ion-label aria-label="email" position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email" clearInput></ion-input>
        <div class="error-container" *ngIf="forgetPasswordForm.get('email')?.invalid">
          <span style="color: red;" *ngIf="forgetPasswordForm.get('email')?.errors?.['required']">
            Email is required
          </span>
        </div>
      </ion-item>
    </ion-list>
    <ion-button type="submit" style="display: flex; align-items: center;" [disabled]="forgetPasswordForm.invalid" class="submit-button">Send </ion-button>
  </form>
</ion-content>
